@page
@using MediaInAction.Localization
@using Microsoft.Extensions.Localization
@using System.Globalization
@using Microsoft.Extensions.Options
@using Volo.Abp.Http.Client
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Rating
@model MediaInAction.PublicWeb.Pages.IndexModel
@inject IStringLocalizer<MediaInActionResource> L
@inject IOptions<AbpRemoteServiceOptions> options

@{
    string pageHeader = L["OurProducts"];
}

@section styles{
    <abp-style src="/Pages/index.css"/>
}

@section scripts {
    <abp-script src="/client-proxies/basket-proxy.js"/>
    <abp-script src="/Pages/index.js"/>
}

@if (Model.HasRemoteServiceError)
{
    pageHeader = L["FileServiceNotAvailable"];
}

<div class="container">
    <h3 class="pb-4 text-center">@pageHeader</h3>
    <div class="">
        <div class="series-list">
            @foreach (var series in Model.SeriesDtos)
            {
                string seriesImage = !series.ImageName.IsNullOrEmpty() ? $"{options.Value.RemoteServices.Default.BaseUrl}media-images/{series.ImageName}" : $"{options.Value.RemoteServices.Default.BaseUrl}media-images/@series.ImageName";
                string buyText = L["Index:AddToBasket"];
                <div class="series-container">
                    <div class="series-list-item" data-product-id="@series.Id.ToString()">
                        <div class="item-link" href="/products/@series.Id.ToString()" data-product-id="@series.Id.ToString()">
                            <div class="product-title">
                                <span>
                                    <h6>@series.Name</h6>
                                </span>
                            </div>
                            @* Need read-only ratings system *@
                            @* <div class="product-ratings"> *@
                            @*     @if (GlobalFeatureManager.Instance.IsEnabled<RatingsFeature>()) *@
                            @*     { *@
                            @*         @await Component.InvokeAsync(typeof(RatingViewComponent), new { entityType = "quote", entityId = @product.Id.ToString() }) *@
                            @*     } *@
                            @* </div> *@
                            <div class="series-image">
                                <img src="@seriesImage" loading="lazy"/>
                            </div>
                        </div>
                        <div class="series-item-bottom">
                            <div class="item-added">
                                <div class="fa fa-check" style="color: yellowgreen; padding-right: 1em;"></div>
                                <span style="display: flex">Added to cart</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>